<div class="contact-row-container contact-number-{{contact.id}}" (click)="openContactDetails($event)">
  <img class="profile-picture" src="assets/images/profilePicturePlaceholder.jpg">
  <div class="contact-information">
    <div class="name-container">
      <img src="{{contact.img}}">
      <div class="first-name">{{contact.firstName}}</div>
      <div class="last-name">{{contact.lastName}}</div>
      <div class="company-name">{{contact.companyName}}</div>
    </div>
    <div class="phone-number-container">
      <div *ngFor="let phoneNumberObject of contact.phoneNumbers"
           class="phone-number contact-type-{{phoneNumberObject.type}}">{{phoneNumberObject.phoneNumber}}</div>
    </div>
  </div>
</div>
