<div class="contact-row-container contact-number-{{contact.id}}">
  <img class="profile-picture" alt="profile picture" src="{{contact.profilePicturePath}}">
  <div class="contact-information">
    <div class="name-container">
      <div class="first-name">{{contact.firstName}}</div>
      <div class="last-name">{{contact.lastName}}</div>
      <div class="company-name">{{contact.companyName}}</div>
    </div>
    <div class="phone-number-container">
      <div class="phone-number contact-type-{{primaryPhoneNumber.type}}">{{primaryPhoneNumber.phoneNumber}}</div>
    </div>
  </div>
</div>
