<div class="contact-list-container">
  <div class="empty-contact-list-message" *ngIf="!contacts || contacts.length===0">
    While single player games are great; games are more fun with friends!
  </div>
  <contact-row (click)="openContactDetails($event)"
               *ngFor="let contact of contacts; let contactIndex=index"
               class="contact-id-{{contactIndex}}" [contact]="contact">
  </contact-row>
  <button class="create-new-contact-button" role="button" (click)="addNewContact()">Create new contact</button>

</div>
